In [1]:
import pandas as pd
import numpy as np

In [35]:
data = pd.read_csv('StressLevelDataset.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   1100 non-null   int64
 2   mental_health_history         1100 non-null   object
 3   depression                    1100 non-null   int64
 4   headache                      1099 non-null   object
 5   blood_pressure                1099 non-null   object
 6   sleep_quality                 1097 non-null   float64
 7   breathing_problem             1099 non-null   float64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1086 non-null   object
 10  safety                        1100 non-null   int64
 11  basic_needs                   1099 non-null   object
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1090 non-null   float64
 15  future_career_concerns        1098 non-null   float64
 16  social_support                1100 non-null   int64
 17  peer_pressure                 1100 non-null   int64
 18  extracurricular_activities    1094 non-null   float64
 19  bullying                      1100 non-null   int64
 20  stress_level                  1100 non-null   object
dtypes: float64(5), int64(10), object(6)
memory usage: 180.6+ KB

In [11]:
data['anxiety_level']

0       14
1       15
2       12
3       16
4       16
        ..
1095    11
1096     9
1097     4
1098    21
1099    18
Name: anxiety_level, Length: 1100, dtype: int64

In [5]:
for i in data.columns:
    print(i)

anxiety_level
self_esteem
mental_health_history
depression
headache
blood_pressure
sleep_quality
breathing_problem
noise_level
living_conditions
safety
basic_needs
academic_performance
study_load
teacher_student_relationship
future_career_concerns
social_support
peer_pressure
extracurricular_activities
bullying
stress_level

In [36]:
numerical_data = data.select_dtypes(exclude='object')
numerical_data = numerical_data.dropna()

In [39]:
def check_outliers(data_check):
    total_values = data_check.shape[0]
    print(total_values)
    df_out = pd.DataFrame(columns=['Selected Columns','No of Outliers',
                                   'Total No of Values', 'Outlier Pro'])
    for i in data_check.columns:
        q1 = np.percentile(data_check,25)
        q3 = np.percentile(data_check,75)
        iqr = q3-q1
        lower_fence = q1-(iqr*1.5)
        upper_fence = q3+(iqr*1.5)
        temp = data_check[(data_check[i] < lower_fence) | (data_check[i] > upper_fence)]
        n_outliers = temp.shape[0]
        outlier_prop = (n_outliers/total_values)*100
        df_out = df_out._append({'Selected Columns': i, 'No of Outliers':n_outliers,
                                'Total No of Values':total_values,   
                                'Outlier Pro':outlier_prop},ignore_index=True)
    df_out = df_out.sort_values(['No of Outliers'],ascending=False).reset_index(drop=True)
    return df_out

In [40]:
check_outliers(numerical_data)

1079

,Selected Columns,No of Outliers,Total No of Values,Outlier Pro
0,self_esteem,838,1079,77.664504
1,depression,675,1079,62.557924
2,anxiety_level,639,1079,59.221501
3,noise_level,1,1079,0.092678
4,sleep_quality,0,1079,0.000000
5,breathing_problem,0,1079,0.000000
6,safety,0,1079,0.000000
7,academic_performance,0,1079,0.000000
8,study_load,0,1079,0.000000
9,teacher_student_relationship,0,1079,0.000000
10,future_career_concerns,0,1079,0.000000
11,social_support,0,1079,0.000000
12,peer_pressure,0,1079,0.000000
13,extracurricular_activities,0,1079,0.000000
14,bullying,0,1079,0.000000

In [9]:
def cap_outliers(data):
    for i in data.columns:
        q1 = np.percentile(data,25)
        q3 = np.percentile(data,75)
        iqr = q3-q1
        lower_bound = q1-(iqr*1.5)
        upper_bound = q3+(iqr*1.5) 
        data[i] = data[i].apply(lambda x: lower_bound if x < lower_bound else (upper_bound if x > upper_bound else x))
    return data

In [10]:
cap_outliers(numerical_data)

Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5
Lower Bound -2.5
Upper Bound 9.5

,anxiety_level,self_esteem,depression,sleep_quality,breathing_problem,noise_level,safety,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying
0,9.5,9.5,9.5,2.0,4.0,2.0,3,3,2,3.0,3.0,2,3,3.0,2
1,9.5,8.0,9.5,1.0,4.0,3.0,2,1,4,1.0,5.0,1,4,5.0,5
2,9.5,9.5,9.5,2.0,2.0,2.0,3,2,3,3.0,2.0,2,3,2.0,2
3,9.5,9.5,9.5,1.0,3.0,4.0,2,2,4,1.0,4.0,1,4,4.0,5
4,9.5,9.5,7.0,5.0,1.0,3.0,4,4,3,1.0,2.0,1,5,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,9.5,9.5,9.5,3.0,2.0,2.0,2,2,2,2.0,3.0,3,2,3.0,3
1096,9.0,9.5,8.0,0.0,0.0,0.0,3,0,1,1.0,1.0,1,3,4.0,3
1097,4.0,9.5,3.0,5.0,2.0,2.0,4,5,1,4.0,1.0,3,1,2.0,1
1098,9.5,0.0,9.5,1.0,4.0,3.0,1,2,5,1.0,4.0,1,4,4.0,4
1099,9.5,6.0,9.5,0.0,3.0,3.0,4,3,4,3.0,3.0,1,5,1.0,4

In [30]:
def check_outlier_columns(data, column):
    no_rows = data.shape[0]
    print(no_rows)
    df_out = pd.DataFrame(columns=['Selected Columns','No of Outliers','Total No of Values','Outlier Pro'])
    q1 = np.percentile(data,25)
    q3 = np.percentile(data,75)
    iqr = q3-q1
    lower = q1-(iqr*1.5)
    upper = q3 + (iqr*1.5)
    temp = data[(data[column] < lower ) | (data[column] > upper)]
    n_outliers = temp.shape[0]
    out_prop = (n_outliers/no_rows)*100
    df_out = df_out._append({'Selected Columns': column,
                            'No of Outliers':n_outliers,
                            'Total No of Values':no_rows,   
                            'Outlier Pro':out_prop},ignore_index=True)
    return df_out

In [38]:
check_outlier_columns(numerical_data,'depression')

1079

  Selected Columns No of Outliers Total No of Values  Outlier Pro
0       depression            675               1079    62.557924

In [34]:
check_outliers(numerical_data)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0

In [21]:
check_outlier_columns(data,'CHAS')

,Selected Columns,No of Outliers,Total no of values,Outlier prop,Total No of Values,Outlier Pro
0,CHAS,0,NaN,NaN,506.0,0.0